{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-sm-4 me-5">
            <img src="{{p.image.url}}" height="350px;" width="350px;">
        </div>
        <div class="col-sm-6 me-5">
            <h2>{{p.name}}</h2>
            <p class="h5 mt-4 ">{{p.desc}}</p>
            <h4 class="mt-5">{{p.price}}</h4>
            {{p.stock}}
            {% if user.is_superuser == True %}
             {% if p.stock == 0 %}
            <h2>Out of stock</h2>
            <a  href="{% url 'admin:index'  %}" class="btn btn-dark mt-4">ADD TO CART</a>
            {% else %}
            <h2>product in stock</h2>
            <a  href="{% url 'admin:index'  %}" class="btn btn-dark mt-4">ADD TO CART</a>
             {% endif %}
            {% else %}
               {% if p.stock == 0 %}
            <h2>Out of stock</h2>
            {% else %}
            <a  href="{% url 'cart:addtocart' p.name %}" class="btn btn-dark mt-4">ADD TO CART</a>
            {% endif %}
 {% endif %}
        </div>

    </div>
</div>


{% endblock %}