<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" style="margin-bottom:100px;">
<center>
<h1>Login</h1></center><br>
<center>
<form method="POST">
    {% csrf_token %}
    <div class="mb=3">
        <label class="form-label">Username</label>
        <input type="text" class="form-control" name="u" placeholder="Enter the username">
    </div>
    <div class="mb=3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" name="p" placeholder="Enter the Password">
    </div>

    <div class="mt-5">
        <input type="submit" class="form-control" >
    </div>
</form></center></div>
{% endblock %}